.infoContainer {
    min-width: 15vw;
    max-width: 15vw;
    height: 96vh;
    margin-right: 0.25em;
    outline: 1px solid coral;
}

.generalInfo {
    padding: auto;
    text-align: center;
    height: 50%;
}

.eventInfo {
    padding: auto;
    text-align: center;
    height: 50%;
}