.infoContainer {
    width: 15vw;
    margin-right: 0.25em;
    width: 21em;
    max-height: 96vh;

    border-right: 1px solid black;
}

/* GENERAL INFO ##############################################start*/

.generalInfo {
    padding: auto;
    text-align: center;
    height: 50%;
    
    display: flex;
    flex-direction: column;
}

.generalInfo .groupSelect {
    text-align: center;
    color: black;
}

.groupSelectCheckBoxes {
    outline: 1px dotted blue;
}

.gsbHeaderText {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.gsbSelections {
    display: block;
    min-height: 10vh;
    overflow-y: auto;
}

.groupSelectCheckBoxes label {
    display: block;
}
/* GENERAL INFO ###############################################end*/

/* EVENT INFO ##################################################start*/
.eventInfo {
    border-top: 1px solid black;

    padding: auto;
    text-align: center;
    height: 50%;

    display: grid;
    grid-template-rows: min-content min-content auto min-content;
}

.eiEventHeader {
    overflow: hidden;
}

.eiHeaderText {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

.eiHeaderText2 {
    font-size: 1.2em;
    color: grey;
    font-weight: bold;
} 

.eiHeaderText2Groups {
    font-size: 1em;
    color: grey;
    font-weight: bold;
}

.eiBaseText {
    font-size: 1em;
}

/*
.eiEventHeader {
    max-height: 1em;
}
*/

.eiDateTime {
    display: grid;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    align-content: center;

    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.eiTextArea {
    resize: none;
    height: 100%;
}

.eiEventFooter {
    padding-bottom: 0.1em;
}
.eiEventFooter .eventIds{
    display: grid;
    grid-template-columns: auto auto;
}
.eventIds .eiIdText {
    font-size: 0.6em;
}
/* EVENT INFO ##################################################end*/