
.tableContainer {
    width: 100vw;
    /*min-width: 38em;*/
    min-width: min-content;
    /*max-width: max-content;*/

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 38em;

    border: 1px solid black;
}

.vktContainer {
    max-height: 95vh;

    /*margin-left: 0.25em;*/

    /*outline: 2px solid red;*/
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.monthSelector {
    border: 1px solid peru;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 80% 20%;
}

.vktMonths {
    border: 1px solid grey;
    display: inline-grid;

    grid-template-columns: auto auto auto auto auto auto
}


.vktMonths button:focus{
    outline: 0;
}

.eventList {
    overflow-y: auto;
    /*
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    
    height: 40vw;
    width: 40vw;
    */

    /*overflow-x: scroll;*/
}

.eventTableHeaderContainer {
    /*width: auto;*/
    width: 100%;
}

.eventTableHeader {
    display: grid;

    /*
    grid-template-columns: auto auto;
    */
    border-bottom: 1px solid black;
    padding-bottom: 0.25em;
    padding-top: 0.25em;

    margin-bottom: 1px;

    background-color: #5baa00;
}

.eventTableHeader div {
    display: grid;
    align-content: center;
    grid-template-columns: min-content auto 5px;
    /*padding: 0.2em;*/
}

.tableHeaderText {
    margin-left: 0.2em;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.eventElement {
    border: 1px solid grey;

    display: grid;
    grid-template-columns: 15% 65% 20%;

    margin-bottom: 0.3em;
}

.eventElement:hover {
    box-shadow: inset 2px 2px 4px black;
}

.selectedTableEvent {
    background-color: #5baa00;
    color: white;
}

.eventMainInfo {
    padding-right: 0.1em;
    padding-bottom: 0.1em;
    overflow: hidden;
    min-width: 20em;
    padding-left: 1em;
}

.eventContent {
    max-height: 5em;
    overflow-y: auto;
}

.eventDateInfo {
    text-align: center;
    margin: auto;
    min-width: 3.5em;
}

.eventOtherInfo {
    margin: auto;
    padding-right: 0.1em;
}

.eventButtons {
    display: flex;
    justify-content: center;
}

.withMarker {
    display: list-item;
}

.withMarker::marker {
    color: var(--mkColor);
}