
.tableContainer {
    width: 100vw;
    /*min-width: 38em;*/
    min-width: min-content;
    /*max-width: max-content;*/

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 38em;

    border-left: 1px solid black;
}

.vktContainer {
    max-height: 96vh;

    margin-left: 0.25em;

    /*outline: 2px solid red;*/
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.monthSelector {
    border: 1px solid peru;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 80% 20%;
}

.vktMonths {
    border: 1px solid grey;
    display: inline-grid;

    grid-template-columns: auto auto auto auto auto auto
}


.vktMonths button:focus{
    outline: 0;
}

.eventList {
    overflow-y: auto;
    /*
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    
    height: 40vw;
    width: 40vw;
    */

    /*overflow-x: scroll;*/
}

.eventTableHeaderContainer {
    /*width: auto;*/
    width: 100%;
}

.eventTableHeader {
    display: grid;

    /*
    grid-template-columns: auto auto;
    */
    border-bottom: 2px solid black;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.eventTableHeader div {
    display: flex;
    padding: 0.2em;
}

.eventElement {
    border: 1px solid grey;

    display: grid;
    grid-template-columns: 15% 65% 20%;

    margin-bottom: 0.25em;
}

.eventMainInfo {
    padding-right: 0.1em;
    padding-bottom: 0.1em;
}

.eventContent {
    max-height: 5em;
    overflow-y: auto;
}

.eventDateInfo {
    text-align: center;
    margin: auto;
}

.eventOtherInfo {
    margin: auto;
    padding-right: 0.1em;
}

.eventButtons {
    display: flex;
    justify-content: center;
}

.withMarker {
    display: list-item;
}

.withMarker::marker {
    color: var(--mkColor);
}

/* old old
table {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    height: 400px;
    width: 800px;
}

td {
    text-align: center;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    min-width: 100px;
}

th {
    border: 1px solid blue;
    min-width: 100px;
}

.monthHeader {
    position: sticky;
    background-color: white;

    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 2px;
}

.groupHeader {
    position: sticky;
    background-color: white;

    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 108px;
}
*/