.vktContainer {

    max-height: 95vh;

    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.monthSelector {
    border: 1px solid peru;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 80% 20%
}

.vktMonths {
    border: 1px solid grey;
    display: inline-grid;

    grid-template-columns: auto auto auto auto auto auto
}


.vktMonths button:focus{
    outline: 0;
}

.eventList {
    overflow-y: auto;
    /*
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    
    height: 40vw;
    width: 40vw;
    */

    /*overflow-x: scroll;*/
}

.eventTableHeader {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 2px solid black;
    padding-bottom: 0.25em;
}

.eventElement {
    border: 1px solid grey;

    display: grid;
    grid-template-columns: 20% 40% 20% 20%;

    margin-bottom: 0.25em;
}

.eventDateInfo {
    text-align: center;
    margin: auto;
}

.eventOtherInfo {
    margin: auto;
}

.eventButtons {
    display: flex;
    justify-content: center;
}

/* old old
table {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    height: 400px;
    width: 800px;
}

td {
    text-align: center;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    min-width: 100px;
}

th {
    border: 1px solid blue;
    min-width: 100px;
}

.monthHeader {
    position: sticky;
    background-color: white;

    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 2px;
}

.groupHeader {
    position: sticky;
    background-color: white;

    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 108px;
}
*/