.circleContainer {
    padding-top: 0.4vh;
    padding-right: 0.4vh;
}

/*https://stackoverflow.com/questions/12813573/position-icons-into-circle*/
#MonthCircle {
    aspect-ratio: 1;
    --d: 19vh; /*19vh image size */
    --rel: 0.075; /* how much extra space we want between images, 1 = 1 image size */
    --ba: 1turn/var(--m);  /* base angle = 1 full turn divided by number of edges */
    /* (1 + var(--rel))*var(--d) = polygon edge = img size + extra space */
    --r: calc(.5*(1 + var(--rel))*var(--d)/tan(.5*var(--ba))); /* circle radius */
    display: grid;
    width: calc(2*var(--r) + var(--d)); /* container size */
    /*outline: 1px solid blue;*/
    padding: 2px;
}

#MonthCircle #MonthElement {
    border:1px solid grey;
    border-radius: 50%;

    overflow:hidden;

    text-align: center;

    /*align-content: center;*/
    padding-top: 2vh;

    grid-area: 1/ 1;
    place-self: center;
    /*
    width: 13vh;
    height: 13vh;
    */
    width: var(--d);
    height: var(--d);
    /*--ca: calc(var(--i) * var(--ba));*/
    --ca: calc(calc(var(--i) * var(--ba)) - 60deg); /*-90deg so that dec12 is top... changed mnths 0-11 so 60deg*/
    transform: 
      rotate(var(--ca)) 
      translate(var(--r))
      rotate(calc(-1*var(--ca)))
}

#MonthCircle #MonthElement:hover {
    border-color: black;
}

#MonthCircle #MonthElement p {
    font-size: 2vh;
    display: list-item;
    list-style-position: inside;
    margin: 0;
}

#MonthCircle #MonthElement p:hover {
    color: limegreen;
}

.mtBaseText {
    font-size: 1.75vh;
    margin: 0;
    user-select: none;
    
    list-style-position: inside;
    display: list-item;
}

.mtBaseText::marker {
    color: var(--mkColor);
}

.mtBaseText:hover {
    color: black;
}

#MonthCircle #MonthElement #monthTitle {
    color: black;
    font-size: 2vh;
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    user-select: none;
}

#MonthCircle .CircleCenter {
    border:1px solid black;
    border-radius: 50%;
    place-self: center;
    grid-area: 1/ 1;
    width: 30vh;
    height: 30vh;
    text-align: center;

    align-content: center;
    /*padding-top: 5vh;*/

    background-color: #5baa00;

    line-height: 1;
}

.ycHeaderText {
    font-size: 4vh;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.ycBaseText {
    font-size: 1.5vh;
    color: black;
}